web: sh -c 'export JDBC_URL=$(echo ${DB_URL:-${SPRING_DATASOURCE_URL:-${DATABASE_URL}}} | sed "s/^postgres:\\/\\//jdbc:postgresql:\\/\\//" | sed "s/^postgresql:\\/\\//jdbc:postgresql:\\/\\//"); java -jar target/*.jar --server.port=${PORT:-8080} --spring.datasource.url=${JDBC_URL}'
